html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

#status-bar {
    z-index: 1065;
}

.statusSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 3em;
    padding: 0.5em 0;
    border-radius: 0.5em;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

#supportSection.showSupport {
    z-index: 1060;
}

#supportSection.showSupport::after {
    content: "arrow_upward";
    position: absolute;
    top: 75%;
    font-family: 'Material Symbols Outlined';
    font-size: 5em;
}


.statusSection * {
    padding: 0 1em;
}
.fake-weird-backdrop {
    width: 0px;
}
.modal-open .fake-weird-backdrop {
    width: 100%!important;
    opacity: 0.5;
}

#main-container>* {
    width: 50%;
}